#menu{
	width: 100%;
	height: 50px;
	background-color: white;
	margin-top: 80px;
}

.body_container{
	width: 90%;
	margin: 80px auto;
}

.content{
	display: table;
	width: 100%;
	min-height: 600px;
	vertical-align: middle;
	height: 600px;
	margin-top: 30px;
	background-color: white;
}

.contain{
	width: 100%;
	min-height: 600px;
	background-color: white;
}

.header_zona{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #bb7a36;
	color: #bb7a36;
	text-transform: uppercase;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
}

tr.selected{
	cursor: pointer;
}

.tabla_cont{
	padding: 10px 15px;
}

.header_zona_titulo{
	float: left;
}

.header_zona_btnCliente{
	float: right;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	font-size: 12px;
	background-color: #2a2e39;
	margin-top: 7px;
	color: white;
	cursor: pointer;
}

.form_side{
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

.form_cont.k{
	display: table;
	width: 600px;
	margin: auto;
}

.izqu{
	width: 250px;
}

.dere{
	width: 350px;
}

input{
	margin-bottom: 10px;
}

textarea{
	margin-bottom: 10px;
}

.header_zona_btnCliente:hover{
	background-color: rgba(41, 45, 56, 0.8);
}

.selectfile{
	width: 200px;
	height: 30px;
	border: 2px solid #bb7a36;
	cursor: pointer;
	position: relative;
}

#inputimages{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.textselect{
	background-image: url(../images/cloud305.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: right center;
	padding-right: 30px;
	display: table;
	margin: auto;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
	height: 100%;
}

#images_container{
	width: 344px;
	margin-top: 16px;
	height: 250px;
	border: 3px dashed #b1b1b1;
	border-radius: 10px;
	text-align: left;
	overflow-y: scroll;
	 padding: 20px 0;
}

.image_item{
	display: inline-block;
	width: 100px;
	height: 150px;
	margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
   
	
}

.image_remove{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	color: white;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}